#mainDiv{
    margin-top: 10%;
    border: 1px solid red;
    height: 600px;
}
#reDirect{
    /* border: 1px solid orange; */
    height: 35px;
    background-color: rgb(243, 243, 243);
display: flex;
justify-content: space-between;
padding: 5px;
}
#reDiv{
    width: 20%;
    /* border: 1px solid blue; */
    margin-top: 5px;
    margin-left: 20px;
}
#details{
    display: flex;
    gap: 40px;
    margin-right: 50px;
    margin-top: -5px;
}
#productDiv{
    width: 90%;
display: flex;
height: 89%;
/* border: 1px solid green; */
margin: auto;
margin-top: 20px;
gap: 30px;
}
#imageDiv{
    width: 35%;
    border: 1px solid gray;
    padding: 10px;
    height: auto;
}
#imageDiv>img{
    width: 100%;
}
#proDetils{
    width: 62%;
    padding: 5px;
    background-color:  #f9f6f6;;
    /* border: 1px solid gray; */
}
#proDetils>h2{
    width: 90%;
    margin-top: -2px;
}
#superP{
    font-size: 30px;
    padding: 5px;
    font-style: italic;
    font-weight: 550;
    color: white;
    margin-top: 50px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(https://css.gbtcdn.com/imagecache/gbw/img/superDeals.ffa3c55.png) ;
}
#priceDiv{
    display:flex;
    /* border: 1px solid blue; */
    margin-top: -15px;
}
#priceDele{
display: flex;
}
#priceTag{
 font-size: 20px;
 margin-right: 70px;
 color: gray;
}

#pricePink{
    color: #f30240;
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
    margin-right: 7px;
}
#priceMrp{
    color: gray;
    font-size: 17px;
    margin-top: 27px;
}
#cutPrice{
    color: gray;
    font-size: 17px;
    margin-top: 27px;
    margin-left: 5px;
}


#shippingDiv{
display:flex;
/* border: 1px solid blue; */
}
#shippingTag{
font-size: 20px;
 margin-right: 40px;
 color: gray;    
}
#shippingAdd{
font-size: 16px;   
width: 70%;
}


#colorDiv{
    /* border: 1px solid rgb(255, 1, 43); */
    height: 20px;
    display: flex;
    gap: 20px;
    margin-top: 25px;
}
#colorDiv>p{
    margin-top: -11px;
font-size: 20px;
margin-right:53px;
color: gray;
}
.btn{
    padding: 10px;
margin-top: -15px;
width: 109px;
/* margin-left: 1px; */
background-color: white;
border: none;
margin-right: 13px;
outline: 1px solid;
}
.btn:hover{
 cursor: pointer;
 color: rgb(253, 5, 46);
 border-color: rgb(253, 5, 46);
 /* outline: none; */
}

#sizeDiv{
    /* border: 1px solid rgb(255, 1, 43); */
    height: 20px;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
#sizeDiv>p{
    margin-top: -11px;
font-size: 20px;
margin-right:53px;
color: gray;
}
.btn1{
    padding: 10px;
margin-top: -15px;
width: 110px;
margin-left: 12px;
background-color: white;
border: none;
outline: 1px solid;
}
.btn1:hover{
 cursor: pointer;
 color: rgb(253, 5, 46);
 border-color: rgb(253, 5, 46);
 /* outline: none; */
}


#qtyDiv{
margin-top: 20px;
display: flex;
align-items: center;
margin-bottom: 20px;
}
#qtyDiv>p:nth-child(1){
color: #7e94b2;
margin-right: 24px;
}        


.adding,.substract:hover{
cursor: pointer;
}

.nums{
display: flex;
margin-left: 65px;
margin-right: 5px;
}
.nums>div{
border: 1px solid #aab0b8;
width: 40px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
}


#payPalImg{
    padding: 10px 40px 10px 40px;
    width: 120px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA25pVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQwIDc5LjE2MDQ1MSwgMjAxNy8wNS8wNi0wMTowODoyMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoyNzMwOGI4OS0yNzAwLTU1NDktOWQ5Zi0wYmY3M2FjNTY1NmIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QzAyOEUzQzEyRERGMTFFOUIwMERENUIzM0UxNDY2OEIiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QzAyOEUzQzAyRERGMTFFOUIwMERENUIzM0UxNDY2OEIiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RDE5OTRGRjlEQjYyMTFFOEJBNEQ4QzA1MjgzMTUwQTgiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RDE5OTRGRkFEQjYyMTFFOEJBNEQ4QzA1MjgzMTUwQTgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5g+6PAAAABrklEQVR42mL838Xwn2HgQCPTQFoOxA1MA2k5iME0kJaDAAtepUa5DAzOkzDFL8xgYNidSbHl+EOAEShllIcp/mg/A8O+fKpYjt8BasEMDIIqqGIf7jIwbA5nYPj7iyqW43eASREq/9cnBoYNgQwM315TzXLcDpCygGAY+P+XgWFrLAPD68tUtRy3A0wKUfmHaxgY7myiuuXgpIZREvLJMTCkAuOaCSmD/PwADAUkZdeWMjDszaXYcuzZEJT1mNCE2QWQcsE+BoYDxVSxHLsDvr9lYDjZCWGLaDEwKPsi5EBpYEMQvlxAkuXYHXCyA8H2WoRgf37CwLDWCxgdH6lmOf5syM4PKQtgWRBkOcgRVLQcvwM0IhgYWLmIyYJkW47fAbpJEHpPLr4sSJHluB0gqsvAIGkGSQ8XptPMctwOAPkelNcPVeG2vPQ/xZZjzwXMbAwMPFKQeMfeWqOa5dhDQBiY93em4crrVLUcewi8ukDzYMfvAHwJrpuR6u0zJqItpxFgGkjLCTmA5pbjcwBdLMflALpZjs0BdLUc3QF0txzZAQNiOcwBA2Y5CAAEGACpZn2BsvtauQAAAABJRU5ErkJggg==") no-repeat;
    background-color: rgb(255, 196, 57);
    cursor: pointer;
}
#buttonsDiv{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
#buttonsDiv button{
    padding: 10px 35px 10px 35px;
width: 190px;
height: 52px;
font-weight: 600;
font-size: 20px;
background-color: #f30240;
color: white;
border: none;
cursor: pointer;
}

.smallImgDiv{
margin-left: 5%;
width: 429px;
border: 1px solid;
}
.small_img{
width: 100%;
height: auto;
display: flex;
margin-top: 20px;
margin: auto;
}

.small_img>div{
height: 40%;
width: auto;
margin-left: 2%;
margin: auto;
}
.small_img i{
font-size: 40px;
margin-top: -10px;
}
.small_img img:hover{
box-sizing: border-box;
border: 2px solid yellow;
cursor: pointer;
}
.recommdedDiv{
background-color: #f5f4f4;
display: grid;
grid-template-columns: repeat(6,1fr);
grid-template-rows: repeat(auto);
gap: 20px;
margin: auto;
margin-top: 20px;
width: 90%;
cursor: pointer;
padding: 10px;
}
.recommdedDiv>div{
padding: 10px;
border-radius: 5px;
background-color: white;
cursor: pointer;

}
.recommdedDiv>div:hover{
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.recommdedDiv img{
width: 100%;
}
.recommdedDiv p{
font-size: 15px;
margin-top: 10px;
}
.recommdedDiv h2{
color: #f30240;
text-align: left;
margin-top: -7px;
font-size: 25px;
font-weight: 600;
margin-bottom: -22px
}
.cutPric{
width: 10px;
margin-top: px;
margin-left: 100px;
}



/* --------------------->Navber start<----------------------------------------- */

#navbar{
/* border: 1px solid black; */
height: 50px;
width: 90%;
display: flex;
margin: auto;
margin-top: 70px;

}
.same{
    width: 20%;
    height: 30px;
    /* border: 1px solid blue; */
    

}
#product1{
    background-color: black;
    padding: 5px;

    
}
h5{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 2px;
}
.same1{
    background-color: #ffda00;
    text-align: center;
    padding: 5px;
  
}
.a1{
    text-decoration: none;
    color: black;
    margin-top: 5px;
    font-weight: 800;
}
.a1:hover{
    text-decoration: underline;
    text-decoration-color: black;  
    text-decoration-style: bold;  
}
.items{
    /* border: 1px solid black; */
    background-color: rgb(181, 223, 240);
    margin-top: 9px;
}
.items>p{
    margin-top: 10px;
    color: rgb(72, 69, 69);
    
}
.items>p:hover{
    background-color: white;
    cursor: pointer;
    color: black;
    font-size: 17px;
    font-weight: 500;
}

/* --------------------->Navber end<----------------------------------------- */


.fullDetailDiv{
    width: 92%;
    margin: auto;
    background-color: #f9f6f6;
}
.moreDetailDiv{
    border: 1px solid #ffda00;
    width: 90%;
    height: 60px;
    margin: auto;
    display: flex;
    margin-top: 60px;
    border-color: white white yellow yellow;
}
.discrDiv{
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: #ffda00;
    padding: 10px 20px;
    font-size: 20px;
}
.revDiv{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px 20px;
    color: #a1a1a1;
}
.revDiv:hover{
    cursor: pointer;
    background-color: #ffda00;
}
.shortDis{
    height: 40px;
    margin: auto;
    margin-left: 113px;
    margin-top: 20px;
    font-weight: bold;
}
.featureDiv{
    width: 85%;
    margin: auto;
    margin-top: 30px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 25px;
    box-sizing: border-box;
}
.featureDiv+hr{
    width: 85%;
    margin-left: 111px;
}

.contentDiv{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    line-height: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 19px;
}
.funcDiv{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 23px;
}
.productDiv{
    width: 80%;
    height: auto;
    margin: auto;
}
.productDiv img{
    width: 100%;
    height: auto;
    margin: auto;
}



/* -------------------------------footer start------------------------------------ */
/* -------------------------------footer start------------------------------------ */