#click-to-website > div {
    width: 80%;
    margin: auto;
}
body{
    background-color: #7df7f7;
    margin: auto;
}
#webMain{
    display: block;
    margin: auto;
    margin-left: 50%;
    font-size: larger;
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
#webMain:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.img{
    margin-left: 23%;
    margin-top: 20%;
    height: 135px;
}