*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.otherLinkDiv{
    padding: 10px;
    width: 95%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 13px;
    cursor: pointer;
}
.otherLinkDiv>p,i{
 color: gray;
}
.logoDiv{
    width: 257px;
/* border: 1px solid; */
padding: 5px;
}
.logoDiv img{
width: 100%;
height: 55px;
}
.navcontent{
    /* border: 1px solid blue; */
    width: 90%;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}

.searchDiv{
    display: flex;
    border: 2px solid yellow;
width: 50%;
margin-left: 40px;
height: 40px;
margin-top: 20px;
margin-right: -75px;
border-radius: 30px;
cursor: pointer;
}
.searchDiv>#extra{
    height: 35px;
    border: none;
    width: 21px;
    outline: none;
}
.searchDiv>p{
    font-size: 18px;
    margin-left: 5px;
    margin-top: 8px;
    color: gray;
}
.searchBar{
width: 90%;
height: 100%;
padding: 5px;
font-size: 17px;
outline: none;
border: none;
}
.seIcon{
width: 50px;
border-bottom-right-radius: 30px;
border-top-right-radius: 30px;
padding: 2px;
background-color: rgb(255, 255, 0);
}
.seIcon>i{
font-size: 25px;
margin-left: 7px;
margin-top: 4px;
}
.linkDiv{
display: flex;
/* border: 1px solid red; */
margin-left: 50px;
}
.linkDiv a{
text-decoration: none;
}
.linksIcon>i{
color: rgb(78, 64, 64);
font-size: 25px;
margin-top: -3px;
/* margin-left: -26px; */
}
.SignInP>i{
color: black;
font-size: 25px;
margin-top: -3px;
/* margin-left: -26px; */
}
.linksIcon{
display: flex;
gap: 5px;
width: 104%;
color: gray;
margin-top: 40px;
margin-right:15px;
font-size: 16px;
}
.SignInP{
    display: flex;
    gap: 5px;
    width: 210%;
    color: gray;
    margin-top: 40px;
    margin-right: -51px;
    font-size: 16px;
}
.expolorDiv{
display: flex;
/* border: 1px solid green; */
    width: 90%;
    margin: auto;
    background-color: yellow;
}
.cataDiv>h3{
margin-left: -1px;
width: 247px;
text-align: center;
height: 40px;
font-size: 23px;
color: white;
background-color: black;
}
.eploreTags{
margin-top: 9px;
text-decoration: none;
font-size: 17px;
font-weight: bold;
margin-left: 115px;
color: black;
cursor: pointer;
}