*{
    margin: 0px;
    padding: 0px;
}
#image{
    /* border: 1px solid black; */
    height: auto;
   margin-top: 30px;
}
#image>img{
    width: 200px;
    height: 60px;
    margin-left: 80px;
}
hr{
    margin-top: 30px;
}
#main_div{
    /* border: 1px solid black; */
   height: 570px;
    margin-top: 60px;
}
#add_address{
/* border: 1px solid red; */
height: auto;
width: 90%;
margin: auto;

}
#add_address>h4{
    font-size: 25px;
    font-weight: 800;
}
#form{
    height: 500px;
    /* border: 1px solid forestgreen; */
   
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
#input_things{
    font-size: 20px;
}
#name{
    font-size: 25px;
    margin-left: 10px;
    border: 1px solid #eee;
}
#lname{
    margin-left: 17px;
    font-size: 25px;
}
.same{
    margin-top: 20px;
    border: 1px solid #eee;
}
#a1{
font-size: 25px;
margin-right: 20px;
}
#a2{
    font-size: 25px;
    margin-right: 20px;
    }
#fname1{
    margin-left: 20px;
}
#lname1{
    margin-left: 20px;
}
#country{
    margin-left: 8px;
    font-size: 24px;
}
#state{
    margin-left: 8px;
    font-size: 24px;
}

#city{
   
    font-size: 24px;
}
#e_mail{
    font-size: 24px;
}
#postal_code{
   
    font-size: 24px;
}
#phone_number{
   
    font-size: 24px;
}
#city1{
    margin-left: 86px;
}
#countries{
    margin-top: 20px;
    margin-left: -7px;
}
.st{
    margin-top: 20px;
}
#ph{
    margin-left: 10px;
}
.mb5{
    margin-top: 20px;
}
#buttons{
    margin-left: 315px;
    margin-top: 40px;
}
.btn{
    padding: 6px 20px 6px 20px;
    margin-top: 00px;
   
    
}
#cancel{
   
    border: 1px solid black;
    color: black;
    font-weight: 700;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
   

}
#states{
    margin-left: -4px;
}
#confirm{
   
    border: 1px solid black;
    color: black;
    font-weight: 700;
    font-size: 15px;
    background: #ffda00;
    margin-left: 20px;
}
#confirm:hover{
    background: #cbb950;
    cursor: pointer;
}
/* #al1{
    margin-left: -24px;
}
#al2{
    margin-left: -24px;
} */
#pc{
    margin-left: -7px;
}

#ea{
    margin-left: -2px;
}
.err1{
margin-left: 100px;
}
