*{
    margin: 0px;
    padding: 0px;
}
.same{
    width: 20%;
    height: 30px;
    /* border: 1px solid blue; */
    

}
#product1{
    background-color: black;
    padding: 5px;

    
}
h5{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 2px;
}
.same1{
    background-color: #ffda00;
    text-align: center;
    padding: 5px;
  
}
.a1{
    text-decoration: none;
    color: black;
    margin-top: 5px;
    font-weight: 800;
}
.a1:hover{
    text-decoration: underline;
    text-decoration-color: black;  
    text-decoration-style: bold;  
}
.items{
    /* border: 1px solid black; */
    background-color: rgb(181, 223, 240);
    margin-top: 9px;
}
.items>p{
    margin-top: 10px;
    color: rgb(72, 69, 69);
    
}
.items>p:hover{
    background-color: white;
    cursor: pointer;
    color: black;
    font-size: 17px;
    font-weight: 500;
}
