*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fafafa;
}
#image{
    /* border: 1px solid black; */
    height: auto;
   margin-top: 30px;
   background-color: white;
}
#image>img{
    width: 200px;
    height: 60px;
    margin-left: 80px;
}
#main_div{
    height: auto;
    width: 90%;
    /* border: 1px solid black; */
    margin: auto;
}
#user_details{
    /* border: 1px solid red; */
    height: auto;
    margin-top: 80px;

}
#user_details>p{
    color: black;
    font-weight: 600;
    display: flex;
}
#data{
    background-color: white;
    height: 200px;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    display: flex;
}
#end{
    /* border: 1px solid blue; */
   margin-left: 30px;
    margin-top: 30px;
    width: 63%;
    height:auto;
    
}
.same{
    margin-top: 10px;
    color: #000;
}
#btns{
    /* border: 1px solid hotpink; */
    height: auto;
    width: 30%;
    margin-top: 30px;
    
}
#select{
    /* border:1px solid tomato; */
    height: auto;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#new{
    /* border:1px solid tomato; */
    height: auto;
    margin-top: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#other{
    background: #ffda00;
    color: black;
    text-align: center;
    font-weight: 700;
    padding: 11px 14px 11px 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;

}
#new_add{
    background: white;
    color: black;
    text-align: center;
    font-weight: 700;
    padding: 8px 15px 8px 15px;
    font-size: 16px;
    /* border: 1px solid black; */
    cursor: pointer;

}
#other:hover{
    background:rgb(228, 195, 13);
}
#name{
    display: flex;
}
#discount{
    /* border: 1px solid black; */
    height:250px;
    margin-top: 100px;
    display: flex;
    background-color: white;
    border: 1px solid #e0e0e0;
}
.disc{
    /* border: 1px solid red; */
    height: 200px;
    width: 65%;
    margin-left: 10px;
    margin-top: 15px;
}
span{
    margin:0px 0px 15px 5px;
    font-size: 15px;
    color: grey;
    
}
#coupon{
    padding: 10px 125px 10px 125px;
    text-align: center;
    margin-left: 20px;
}
#butn{
    padding: 11px 15px 11px 15px;
    text-align: center;
    background:#ffda00;
    color: #000;
    border: none;

}
.apply{
    margin-top: 20px;
}
#butn:hover{
    background:rgb(228, 195, 13);
    cursor: pointer;
}
.fa-ban{
    margin-top: 10px;
}
.para{
    margin-top: 20px;
    color: grey;
}
#radio{
    font-size: 15px;
}
#req{
    color: black;

}
#items{
    /* border: 1px solid black; */
    height: auto;
    width: 35%;
    margin-top: 20px;
}
.item_sub{
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-top: 10px;
}
.item_sub1{
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-top: 10px;
}
.item_sub2{
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-top: 10px;
}
#sub{
    font-weight: 800;
}
#place{
    width: 100%;
    margin-top: 20px;
    padding: 15px 100px 15px 100px;
    font-weight: 800;
    background:#ffda00;
    border: none;
}
#place:hover{
    background:rgb(228, 195, 13);
    cursor: pointer;

}
#product{
    border: 1px solid #e0e0e0;
    height: auto;
    margin-top: 80px;
    
}
.selected_items{
    /* border: 1px solid red; */
    height: auto;
    /* border: 1px solid #eee; */
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    padding:  19px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1{
    width: 52.2759%;
    color: black;
    font-size: 20px;
    /* border: 1px solid black; */
    text-align: center;
    color: #999;
}
.p2{
    width: 23.2759%;
    /* border: 1px solid green; */
    font-size: 20px;
    color: #999;
}
.p3{
    width: 18%;
    /* border: 1px solid green; */
    font-size: 20px;
    color: #999;
}
.p4{
    /* width: 20%; */
    /* border: 1px solid green; */
    font-size: 20px;
    margin-left: 150px;
    color: #999;
}
#things{
    /* border: 1px solid blue; */
    height: auto;
margin-top: 40px;
display: flex;
}
#p11{

        width: 45.2759%;
        color: black;
        font-size: 20px;
        /* border: 1px solid black; */
        text-align: center;
        color: #999;
        display: flex;
        font-size: 21px;
    }
    #p22{
        width: 19.2759%;
        /* border: 1px solid green; */
        font-size: 20px;
        color: #999;
    }
    #p33{
        width: 18%;
        /* border: 1px solid green; */
        font-size: 20px;
        color: #999;
    }
    #p44{
        /* width: 20%; */
        /* border: 1px solid green; */
        font-size: 20px;
        margin-left: 150px;
        color: #999;
    }
    .forall{
        display: flex;
    }

#p22>h3{
    margin-left: 30px;
}